<a href="https://colab.research.google.com/github/akshaypt7/amazon_sales_prediction/blob/main/my_project_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is part 2 of the project. Here we make improvements that we have learnt from part 1 of the project.

One of the mistakes we have done in the first part was that there was data leakage. 

**When the sales are made for each asins in a day, we are not considering the asins that were not sold that day. so the thing is we need to add ASINS even when there was no sale made for that. We can give the quantity as 0. **


How do we do this?

When we read data each month, we see what are the unique ASINs, then these asins should be added to each days, even for the days when these asins are not sold. 
but what other details can we give, what about promotions and other details, we can take the entire row not just the ASIN, but what if there are two rows with coupon and without coupon, if we can see which row is closer to that, that is with coupon or without coupon we can copy that coupon.

one another thing to note is we can even look at working this for the enitre dataframe at once, rather than going month by month. The reason is what if for one month the product was laucnhed but on second month there was no sales, even though that product was available. this means that for all those we wont even mention the asin, but on the third month we mention again.

- we can change the continous and categorical variables that we have defined.

One another mistake that we had done in part 1 was that we had only taken 679 data points as the validation set, we have used 10,500 as the train set. we should have atleast taken 3000 units as validation set.

This was the reason we had high training error and less validation error. This makes sense why we also had high OOB_error and less validation error, as oob_error is calculated with atleast 30% data.

Next thing we learnt is we need to understand what metric we have to use.

**We can use both classification and regression. When we use both then we need to understand what has to be used as the metric.**

Also if we are considering accuracy or even other metrics we have to create a baseline model which predicts the majority class for all the data points.

Learn more about metrics.

One another thing what we can note is, we can convert 1.4 to 2, if we are going with regression. Here we need to come up with something like np.where(). We can see what is the performance at different thresholds.

We should also try to create the functions without copying and trying on a smaller set to know if it works.

In [ ]:
#hide
!pip install -Uqq fastbook kaggle waterfallcharts treeinterpreter dtreeviz
import fastbook
fastbook.setup_book()

     |████████████████████████████████| 727kB 12.4MB/s
     |████████████████████████████████| 61kB 7.3MB/s
     |████████████████████████████████| 194kB 41.6MB/s
     |████████████████████████████████| 51kB 6.4MB/s
     |████████████████████████████████| 1.2MB 33.8MB/s
     |████████████████████████████████| 61kB 6.7MB/s
     |████████████████████████████████| 61kB 7.0MB/s
  Building wheel for waterfallcharts (setup.py) ... done
  Building wheel for dtreeviz (setup.py) ... done
Mounted at /content/gdrive

In [ ]:
#hide
from fastbook import *
# from kaggle import api
from pandas.api.types import is_string_dtype, is_numeric_dtype, is_categorical_dtype
from fastai.tabular.all import *
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.tree import DecisionTreeRegressor
from dtreeviz.trees import *
from IPython.display import Image, display_svg, SVG

pd.options.display.max_rows = 20
pd.options.display.max_columns = 8

In [ ]:
import pandas as pd

In [ ]:
import os
files = os.listdir('/content/gdrive/MyDrive/my_project_01')

In [ ]:
dict_files = {}
for i,file in enumerate(files):
  try:
    # dict_files[i] = pd.read_csv( '/content/drive/MyDrive/my_project_01/' +str(file),low_memory=False)
    dict_files[i] = pd.read_csv( '/content/gdrive/MyDrive/my_project_01/' +str(file),low_memory=False)
  except:
    # dict_files[i] = pd.read_excel( '/content/drive/MyDrive/my_project_01/' +str(file))
    dict_files[i] = pd.read_excel( '/content/gdrive/MyDrive/my_project_01/' +str(file))

We have to take in Invoice Amount instead of Principal amount (since it helps to sepearate canceled and refund orders)

In [ ]:
df_dicts = {}

for i in range(len(dict_files)):
  df_dicts[i] = dict_files[i][['Order Date','Quantity','Asin','Invoice Amount','Item Promo Discount']]

Testing out with 1 dataframe

,Order Date,Quantity,Asin,Invoice Amount,Item Promo Discount
0,2020-12-28 15:41:42,1,B07TM3LRVB,-1135.00,0.00
1,2020-12-25 18:50:21,1,B07TM3LRVB,-1135.00,0.00
2,2020-12-28 23:01:59,1,B07TM3LRVB,-1135.00,0.00
3,2020-12-23 10:27:16,1,B07TM3LRVB,-1135.00,0.00
4,2020-12-18 11:41:24,1,B07TM3LRVB,-1135.00,0.00
...,...,...,...,...,...
926,2021-01-31 21:15:29,1,B07TM3LRVB,1078.25,-56.75
927,2021-01-31 22:33:34,1,B08332221J,1424.05,-74.95
928,2021-01-31 21:22:51,1,B0849NLNTQ,1599.00,0.00
929,2021-01-31 23:32:25,1,B07TM3LRVB,1078.25,-56.75
930,2021-01-31 17:35:07,1,B0859B5J8T,499.00,0.00

In [ ]:
df = df_dicts[1]
df

,Order Date,Quantity,Asin,Invoice Amount,Item Promo Discount
0,2021-02-01 17:28:51,1,B07TM3LRVB,1135.00,0.00
1,2021-02-04 09:18:42,1,B07TM3LRVB,1078.25,-56.75
2,2021-02-12 00:30:53,1,B07TM3LRVB,1078.25,-56.75
3,2021-02-13 10:30:28,1,B0849NLNTQ,1599.00,0.00
4,2021-02-13 12:35:00,1,B0849NLNTQ,1519.05,-79.95
5,2021-02-14 18:47:44,1,B07KYFHTGF,1895.25,-99.75
6,2021-02-14 21:49:20,1,B07TM3LRVB,1078.25,-56.75
7,2021-02-18 07:55:57,1,B0849NLNTQ,1599.00,0.00
8,2021-02-24 14:11:53,1,B07TM3LRVB,1078.25,-56.75
9,2021-01-24 16:47:48,1,B0849NLNTQ,-1599.00,0.00
10,2021-01-28 10:02:02,1,B08332221J,-1499.00,0.00

In [ ]:
df_copy['Date'] = df['Order Date'].dt.date

In [ ]:
df_copy.drop(['Order Date'], inplace = True, axis = 1)

In [ ]:
df_copy

    Quantity        Asin  Invoice Amount  Item Promo Discount        Date
0          1  B07TM3LRVB         1135.00                 0.00  2021-02-01
1          1  B07TM3LRVB         1078.25               -56.75  2021-02-04
2          1  B07TM3LRVB         1078.25               -56.75  2021-02-12
3          1  B0849NLNTQ         1599.00                 0.00  2021-02-13
4          1  B0849NLNTQ         1519.05               -79.95  2021-02-13
5          1  B07KYFHTGF         1895.25               -99.75  2021-02-14
6          1  B07TM3LRVB         1078.25               -56.75  2021-02-14
7          1  B0849NLNTQ         1599.00                 0.00  2021-02-18
8          1  B07TM3LRVB         1078.25               -56.75  2021-02-24
9          1  B0849NLNTQ        -1599.00                 0.00  2021-01-24
10         1  B08332221J        -1499.00                 0.00  2021-01-28

In [ ]:
df_copy.groupby(['Date', 'Asin','Invoice Amount','Item Promo Discount'])['Quantity'].sum()

Date        Asin        Invoice Amount  Item Promo Discount
2021-01-24  B0849NLNTQ  -1599.00         0.00                  1
2021-01-28  B08332221J  -1499.00         0.00                  1
2021-02-01  B07TM3LRVB   1135.00         0.00                  1
2021-02-04  B07TM3LRVB   1078.25        -56.75                 1
2021-02-12  B07TM3LRVB   1078.25        -56.75                 1
2021-02-13  B0849NLNTQ   1519.05        -79.95                 1
                         1599.00         0.00                  1
2021-02-14  B07KYFHTGF   1895.25        -99.75                 1
            B07TM3LRVB   1078.25        -56.75                 1
2021-02-18  B0849NLNTQ   1599.00         0.00                  1
2021-02-24  B07TM3LRVB   1078.25        -56.75                 1
Name: Quantity, dtype: int64

In [ ]:
cond  = df_copy['Invoice Amount'] > 0

In [ ]:
df = df_copy.where(cond )

In [ ]:
df

    Quantity        Asin  Invoice Amount  Item Promo Discount        Date
0        1.0  B07TM3LRVB         1135.00                 0.00  2021-02-01
1        1.0  B07TM3LRVB         1078.25               -56.75  2021-02-04
2        1.0  B07TM3LRVB         1078.25               -56.75  2021-02-12
3        1.0  B0849NLNTQ         1599.00                 0.00  2021-02-13
4        1.0  B0849NLNTQ         1519.05               -79.95  2021-02-13
5        1.0  B07KYFHTGF         1895.25               -99.75  2021-02-14
6        1.0  B07TM3LRVB         1078.25               -56.75  2021-02-14
7        1.0  B0849NLNTQ         1599.00                 0.00  2021-02-18
8        1.0  B07TM3LRVB         1078.25               -56.75  2021-02-24
9        NaN         NaN             NaN                  NaN         NaN
10       NaN         NaN             NaN                  NaN         NaN

In [ ]:
df.dropna(how='all',inplace=True)

In [ ]:
df_1 = pd.DataFrame(df.groupby(['Date', 'Asin','Invoice Amount','Item Promo Discount'])['Quantity'].sum())

In [ ]:
df_1['Date'] = pd.to_datetime(df_1['Date'])

In [ ]:
df_1 = df_1.reset_index()

In [ ]:
df_1

         Date        Asin  Invoice Amount  Item Promo Discount  Quantity
0  2021-02-01  B07TM3LRVB         1135.00                 0.00       1.0
1  2021-02-04  B07TM3LRVB         1078.25               -56.75       1.0
2  2021-02-12  B07TM3LRVB         1078.25               -56.75       1.0
3  2021-02-13  B0849NLNTQ         1519.05               -79.95       1.0
4  2021-02-13  B0849NLNTQ         1599.00                 0.00       1.0
5  2021-02-14  B07KYFHTGF         1895.25               -99.75       1.0
6  2021-02-14  B07TM3LRVB         1078.25               -56.75       1.0
7  2021-02-18  B0849NLNTQ         1599.00                 0.00       1.0
8  2021-02-24  B07TM3LRVB         1078.25               -56.75       1.0

In [ ]:
df_2 = df_1.set_index('Date')

In [ ]:
df_2.loc['2021-02-12']

Asin                   B07TM3LRVB
Invoice Amount            1078.25
Item Promo Discount        -56.75
Quantity                        1
Name: 2021-02-12 00:00:00, dtype: object

In [ ]:
df_2.loc['2021-02-12']['Asin']

'B07TM3LRVB'

##### Using a different dataframe

**Item promo can lead to data_leakage, we might have to remove it and then get the dates in which we had coupons and ads in amazon, then use that**

In [ ]:
df_new = df_dicts[2]
df_new_1 = df_new.copy()

In [ ]:
df_new_1['date'] = df_new['Order Date'].dt.date

In [ ]:
df_new  = df_new_1.drop(['Order Date'],axis=1)

In [ ]:
df_new

     Quantity        Asin  Invoice Amount  Item Promo Discount        date
0           1  B07TM3LRVB        -1135.00                 0.00  2020-12-28
1           1  B07TM3LRVB        -1135.00                 0.00  2020-12-25
2           1  B07TM3LRVB        -1135.00                 0.00  2020-12-28
3           1  B07TM3LRVB        -1135.00                 0.00  2020-12-23
4           1  B07TM3LRVB        -1135.00                 0.00  2020-12-18
..        ...         ...             ...                  ...         ...
926         1  B07TM3LRVB         1078.25               -56.75  2021-01-31
927         1  B08332221J         1424.05               -74.95  2021-01-31
928         1  B0849NLNTQ         1599.00                 0.00  2021-01-31
929         1  B07TM3LRVB         1078.25               -56.75  2021-01-31
930         1  B0859B5J8T          499.00                 0.00  2021-01-31

[931 rows x 5 columns]

In [ ]:
asin_list = df_new.Asin.unique()
asin_list

array(['B07TM3LRVB', 'B0849NLNTQ', 'B08332221J', 'B07MK32L49', 'B08976V1BZ', 'B0859193NJ', 'B07TJ1HDTM', 'B0858X26QM', 'B07KYFHTGF', 'B0859B5J8T', 'B0897LPBHR', 'B084JJWJ31', 'B07W1YYQ9G',
       'B07ZBCTB9N', 'B07S8NC532', 'B07YC69QKT', 'B07Z7QX6ST'], dtype=object)

In [ ]:
df_asin = pd.DataFrame()

In [ ]:
df_new.dtypes

Quantity                 int64
Asin                    object
Invoice Amount         float64
Item Promo Discount    float64
date                    object
dtype: object

In [ ]:
df_new['date'] = pd.to_datetime(df_new['date'])

In [ ]:
df_new.dtypes

Quantity                        int64
Asin                           object
Invoice Amount                float64
Item Promo Discount           float64
date                   datetime64[ns]
dtype: object

##### Removing refund and returns

In [ ]:
df_new.head()

   Quantity        Asin  Invoice Amount  Item Promo Discount       date
0         1  B07TM3LRVB         -1135.0                  0.0 2020-12-28
1         1  B07TM3LRVB         -1135.0                  0.0 2020-12-25
2         1  B07TM3LRVB         -1135.0                  0.0 2020-12-28
3         1  B07TM3LRVB         -1135.0                  0.0 2020-12-23
4         1  B07TM3LRVB         -1135.0                  0.0 2020-12-18

In [ ]:
cond = df_new['Invoice Amount'] > 0

df_new_2  = df_new.where(cond)
df_new_2.dropna(how='all',inplace = True)

In [ ]:
df_new_2.head()

    Quantity        Asin  Invoice Amount  Item Promo Discount       date
22       1.0  B07TM3LRVB          1135.0                  0.0 2020-12-31
23       1.0  B07TM3LRVB          1135.0                  0.0 2021-01-01
24       1.0  B08332221J          1499.0                  0.0 2021-01-01
25       1.0  B07TM3LRVB          1135.0                  0.0 2021-01-01
26       1.0  B07TM3LRVB          1135.0                  0.0 2021-01-01

In [ ]:
df_new.shape

(931, 5)

In [ ]:
df_new_2.shape

(760, 5)

In [ ]:
max_date = max(df_new_2['date']) 
min_date = (min(df_new_2['date']))

In [ ]:
df_new_2.loc[df_new_2['date']== '2020-12-31 ']

    Quantity        Asin  Invoice Amount  Item Promo Discount       date
22       1.0  B07TM3LRVB          1135.0                  0.0 2020-12-31

In [ ]:
# finding all the dates btw max and min

date_list  = pd.date_range(min_date,max_date)

In [ ]:
df_asin = pd.DataFrame(columns = ['date', 'Asin', 'Item Promo Discount', 'Quantity'])

In [ ]:
df_asin

Empty DataFrame
Columns: [date, Asin, Item Promo Discount, Quantity]
Index: []

In [ ]:
index = 0
while True:

  for date in (date_list) :
    for asin in (asin_list):
      df_asin.loc[index] = [date,asin,0,0]
      index = index + 1

  break

In [ ]:
df_1 = df_asin.head(5)
df_1

        date        Asin Item Promo Discount Quantity
0 2020-12-31  B07TM3LRVB                   0        0
1 2020-12-31  B0849NLNTQ                   0        0
2 2020-12-31  B08332221J                   0        0
3 2020-12-31  B07MK32L49                   0        0
4 2020-12-31  B08976V1BZ                   0        0

In [ ]:
df_2 = df_new_2.head(5)
df_2

    Quantity        Asin  Invoice Amount  Item Promo Discount       date
22       1.0  B07TM3LRVB          1135.0                  0.0 2020-12-31
23       1.0  B07TM3LRVB          1135.0                  0.0 2021-01-01
24       1.0  B08332221J          1499.0                  0.0 2021-01-01
25       1.0  B07TM3LRVB          1135.0                  0.0 2021-01-01
26       1.0  B07TM3LRVB          1135.0                  0.0 2021-01-01

In [ ]:
df_1_index = df_1.set_index(['date','Asin'])
df_1_index.head()

                      Item Promo Discount Quantity
date       Asin
2020-12-31 B07TM3LRVB                   0        0
           B0849NLNTQ                   0        0
           B08332221J                   0        0
           B07MK32L49                   0        0
           B08976V1BZ                   0        0

In [ ]:
df_2_index = df_2.set_index(['date','Asin'])
df_2_index

                       Quantity  Invoice Amount  Item Promo Discount
date       Asin
2020-12-31 B07TM3LRVB       1.0          1135.0                  0.0
2021-01-01 B07TM3LRVB       1.0          1135.0                  0.0
           B08332221J       1.0          1499.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0

In [ ]:
df_merge = df_1_index.merge(df_2_index,how='outer',on=['date','Asin'])
df_merge

                      Item Promo Discount_x Quantity_x  Quantity_y  \
date       Asin
2020-12-31 B07TM3LRVB                     0          0         1.0
           B0849NLNTQ                     0          0         NaN
           B08332221J                     0          0         NaN
           B07MK32L49                     0          0         NaN
           B08976V1BZ                     0          0         NaN
2021-01-01 B07TM3LRVB                   NaN        NaN         1.0
           B07TM3LRVB                   NaN        NaN         1.0
           B07TM3LRVB                   NaN        NaN         1.0
           B08332221J                   NaN        NaN         1.0

                       Invoice Amount  Item Promo Discount_y
date       Asin
2020-12-31 B07TM3LRVB          1135.0                    0.0
           B0849NLNTQ             NaN                    NaN
           B08332221J             NaN                    NaN
           B07MK32L49             NaN                    NaN
           B08976V1BZ             NaN                    NaN
2021-01-01 B07TM3LRVB          1135.0                    0.0
           B07TM3LRVB          1135.0                    0.0
           B07TM3LRVB          1135.0                    0.0
           B08332221J          1499.0                    0.0

In [ ]:
df_merge = df_1_index.merge(df_2_index,how='outer',left_index=True,right_index=True)
df_merge

                      Item Promo Discount_x Quantity_x  Quantity_y  \
date       Asin
2020-12-31 B07MK32L49                     0          0         NaN
           B07TM3LRVB                     0          0         1.0
           B08332221J                     0          0         NaN
           B0849NLNTQ                     0          0         NaN
           B08976V1BZ                     0          0         NaN
2021-01-01 B07TM3LRVB                   NaN        NaN         1.0
           B07TM3LRVB                   NaN        NaN         1.0
           B07TM3LRVB                   NaN        NaN         1.0
           B08332221J                   NaN        NaN         1.0

                       Invoice Amount  Item Promo Discount_y
date       Asin
2020-12-31 B07MK32L49             NaN                    NaN
           B07TM3LRVB          1135.0                    0.0
           B08332221J             NaN                    NaN
           B0849NLNTQ             NaN                    NaN
           B08976V1BZ             NaN                    NaN
2021-01-01 B07TM3LRVB          1135.0                    0.0
           B07TM3LRVB          1135.0                    0.0
           B07TM3LRVB          1135.0                    0.0
           B08332221J          1499.0                    0.0

In [ ]:
df_2_index.merge(df_1_index,how='outer',on=['date','Asin'])

                       Quantity_x  Invoice Amount  Item Promo Discount_x  \
date       Asin
2020-12-31 B07TM3LRVB         1.0          1135.0                    0.0
2021-01-01 B07TM3LRVB         1.0          1135.0                    0.0
           B07TM3LRVB         1.0          1135.0                    0.0
           B07TM3LRVB         1.0          1135.0                    0.0
           B08332221J         1.0          1499.0                    0.0
2020-12-31 B0849NLNTQ         NaN             NaN                    NaN
           B08332221J         NaN             NaN                    NaN
           B07MK32L49         NaN             NaN                    NaN
           B08976V1BZ         NaN             NaN                    NaN

                      Item Promo Discount_y Quantity_y
date       Asin
2020-12-31 B07TM3LRVB                     0          0
2021-01-01 B07TM3LRVB                   NaN        NaN
           B07TM3LRVB                   NaN        NaN
           B07TM3LRVB                   NaN        NaN
           B08332221J                   NaN        NaN
2020-12-31 B0849NLNTQ                     0          0
           B08332221J                     0          0
           B07MK32L49                     0          0
           B08976V1BZ                     0          0

In [ ]:
df_1_index

                      Item Promo Discount Quantity
date       Asin
2020-12-31 B07TM3LRVB                   0        0
           B0849NLNTQ                   0        0
           B08332221J                   0        0
           B07MK32L49                   0        0
           B08976V1BZ                   0        0

In [ ]:
df_2_index

                       Quantity  Invoice Amount  Item Promo Discount
date       Asin
2020-12-31 B07TM3LRVB       1.0          1135.0                  0.0
2021-01-01 B07TM3LRVB       1.0          1135.0                  0.0
           B08332221J       1.0          1499.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0

In [ ]:
df_concat = pd.concat([df_2_index,df_1_index],levels= ['date','Asin'])
df_concat

                      Quantity  Invoice Amount Item Promo Discount
date       Asin
2020-12-31 B07TM3LRVB        1          1135.0                   0
2021-01-01 B07TM3LRVB        1          1135.0                   0
           B08332221J        1          1499.0                   0
           B07TM3LRVB        1          1135.0                   0
           B07TM3LRVB        1          1135.0                   0
2020-12-31 B07TM3LRVB        0             NaN                   0
           B0849NLNTQ        0             NaN                   0
           B08332221J        0             NaN                   0
           B07MK32L49        0             NaN                   0
           B08976V1BZ        0             NaN                   0

In [ ]:
df_concat.groupby(['date','Asin','Item Promo Discount'])['Quantity','Invoice Amount'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                           Invoice Amount
date       Asin       Item Promo Discount
2020-12-31 B07MK32L49 0.0                             0.0
           B07TM3LRVB 0.0                          1135.0
           B08332221J 0.0                             0.0
           B0849NLNTQ 0.0                             0.0
           B08976V1BZ 0.0                             0.0
2021-01-01 B07TM3LRVB 0.0                          3405.0
           B08332221J 0.0                          1499.0

In [ ]:
df_1.set_index(['date','Asin'],inplace = True)
df_1

                      Item Promo Discount Quantity
date       Asin
2020-12-31 B07TM3LRVB                   0        0
           B0849NLNTQ                   0        0
           B08332221J                   0        0
           B07MK32L49                   0        0
           B08976V1BZ                   0        0
...                                   ...      ...
2021-01-01 B07MK32L49                   0        0
           B08976V1BZ                   0        0
           B0859193NJ                   0        0
           B07TJ1HDTM                   0        0
           B0858X26QM                   0        0

[25 rows x 2 columns]

In [ ]:
df_2.set_index(['date', 'Asin'],inplace = True)
df_2

                       Quantity  Invoice Amount  Item Promo Discount
date       Asin
2020-12-31 B07TM3LRVB       1.0          1135.0                  0.0
2021-01-01 B07TM3LRVB       1.0          1135.0                  0.0
           B08332221J       1.0          1499.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B08332221J       1.0          1499.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B0849NLNTQ       1.0          1599.0                  0.0
           B08332221J       1.0          1499.0                  0.0
2021-01-02 B07TM3LRVB       1.0          1135.0                  0.0
           B0849NLNTQ       1.0          1599.0                  0.0
2021-01-01 B0849NLNTQ       1.0          1599.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
           B07TM3LRVB       1.0          1135.0                  0.0
2021-01-02 B07TM3LRVB       2.0          2270.0                  0.0
           B07TM3LRVB       2.0          2270.0                  0.0

In [ ]:
df_1.shape, df_2.shape

((25, 2), (20, 3))

In [ ]:
df_2.merge(df_1,how='left', )

In [ ]:
df_2.merge(df_1,how='left')

   Quantity        Asin  Invoice Amount Item Promo Discount       date
0         1  B07TM3LRVB          1135.0                   0 2020-12-31
1         1  B07TM3LRVB          1135.0                   0 2021-01-01
2         1  B08332221J          1499.0                   0 2021-01-01
3         1  B07TM3LRVB          1135.0                   0 2021-01-01
4         1  B07TM3LRVB          1135.0                   0 2021-01-01
5         1  B07TM3LRVB          1135.0                   0 2021-01-01
6         1  B07TM3LRVB          1135.0                   0 2021-01-01
7         1  B08332221J          1499.0                   0 2021-01-01
8         1  B07TM3LRVB          1135.0                   0 2021-01-01
9         1  B07TM3LRVB          1135.0                   0 2021-01-01
10        1  B07TM3LRVB          1135.0                   0 2021-01-01
11        1  B0849NLNTQ          1599.0                   0 2021-01-01
12        1  B08332221J          1499.0                   0 2021-01-01
13        1  B07TM3LRVB          1135.0                   0 2021-01-02
14        1  B0849NLNTQ          1599.0                   0 2021-01-02
15        1  B0849NLNTQ          1599.0                   0 2021-01-01
16        1  B07TM3LRVB          1135.0                   0 2021-01-01
17        1  B07TM3LRVB          1135.0                   0 2021-01-01
18        2  B07TM3LRVB          2270.0                   0 2021-01-02
19        2  B07TM3LRVB          2270.0                   0 2021-01-02

In [ ]:
pd.concat([df_2,df_1],join='outer')

   Quantity        Asin  Invoice Amount Item Promo Discount       date
22        1  B07TM3LRVB          1135.0                   0 2020-12-31
23        1  B07TM3LRVB          1135.0                   0 2021-01-01
24        1  B08332221J          1499.0                   0 2021-01-01
25        1  B07TM3LRVB          1135.0                   0 2021-01-01
26        1  B07TM3LRVB          1135.0                   0 2021-01-01
..      ...         ...             ...                 ...        ...
20        0  B07MK32L49             NaN                   0 2021-01-01
21        0  B08976V1BZ             NaN                   0 2021-01-01
22        0  B0859193NJ             NaN                   0 2021-01-01
23        0  B07TJ1HDTM             NaN                   0 2021-01-01
24        0  B0858X26QM             NaN                   0 2021-01-01

[45 rows x 5 columns]

In [ ]:
df_2 = pd.DataFrame(df_2.groupby(['date','Asin','Invoice Amount','Item Promo Discount'])['Quantity'].sum())
df_2

                                      Quantity
date       Asin       Invoice Amount
2020-12-31 B07TM3LRVB 1135.0               1.0
2021-01-01 B07TM3LRVB 1135.0              10.0
           B08332221J 1499.0               3.0
           B0849NLNTQ 1599.0               2.0
2021-01-02 B07TM3LRVB 1135.0               1.0
                      2270.0               4.0
           B0849NLNTQ 1599.0               1.0